* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-image: url(back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, sans-serif;
}
h1 {
	text-align: center;
	margin: 50px 0 0 0;
	color: #fff;
	font-weight: bold;
}
.slider-wrapper {
		width: 1060px;
		margin: 50px auto;
}
.slider {
	position: relative;
	width: 1060px;
	padding: 0 30px;
	margin: 0;
}
.slider img {
	width: 1000px;
	height: 562px;
	display: block;
}
.arrow {
	position: absolute;
	color: #fff;
	top: 0px;
	height: 562px;
	width: 30px;
	font-size: 24px;
	display: block;
	border: 0;
	background: rgba(0, 0, 0, 0.1);
}
.arrow:focus {
	outline: none;
}
.arrow:hover {
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.prev {
 	left: 0;
}
.next {
	right: 0;
}
.gallery {
	width: 1000px;
	overflow: hidden;
}
.gallery ul {
	height: 562px;
	width: 9999px;
	list-style: none;
	transition: margin-left 500ms;
	font-size: 0;
}
.gallery li {
	display: inline-block;
}
.slider-thumbs {
	width: 1000px;
	margin: 5px auto;
}

.slider-thumbs img {
	width: 246px;
	margin: 0px 0px;
	padding: 0px;
	opacity: 0.5;
	border: 2px solid #fff;
}
.slider-thumbs img:hover, .slider-thumbs img.thumbSelect {
	border: 2px solid #0f0;
	cursor: pointer;
	opacity: 1;
}
